Your job is to take a piece of text and make it easier to read on a screen. The text itself must remain exactly the same with no changes - only the formatting (paragraph breaks, use of bullet points etc) should be added, if and only if appropriate to improve the reading experience. i.e. don’t go overboard in using them. And please don’t add any new subheadings. There must be no changes to the text itself, only the formatting.

The text will be split into 4 care context categories:

- Primary care context
- Secondary care context
- Paediatric care context
- Geriatric care context.

You will return a single response in the following format:

# Primary care context
relevant reformatted care context text

# Secondary care context
relevant reformatted care context text

# Paediatric care context
relevant reformatted care context text

# Geriatric care context
relevant reformatted care context text
